{% extends "base.html" %}

{% block content %}
<main>
    <div class="hero">
        <div class="container">
            <div class="main-heading">
                <h1 class="title">Откройте для себя</h1>
                <h2 class="subtitle" style="margin-top: 15px">ArtHouse Rooms</h2>
            </div>
            <a href="#anchor1" class="btn btn-gradient"> Узнать больше
                <span class="dots">
                    <i class="fas fa-ellipsis-h"></i>
                </span>
            </a>
        </div>
    </div>
    <section class="rooms">
        <p id="anchor1"><a  name="book"></a></p>
        <div class="container">
            <h5 class="section-head">
                <span class="heading">10 номеров</span>
                <span class="sub-heading">С оригинальным дизайном</span>
            </h5>
            <div class="grid rooms-grid">
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/camelot.jpeg" style="height:40rem;">
                        <h5 class="room-name">Камелот</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2400₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/camelot" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/origami.jpeg" style="height:40rem;">
                        <h5 class="room-name">Оригами</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2400₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/origami" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/mexicana.jpeg" style="height:40rem;">
                        <h5 class="room-name">Мексикана</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2400₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/mexicana" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/1001-night.jpeg" style="height:40rem;">
                        <h5 class="room-name">1001 Ночь</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2100₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/1001-night" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/retro.jpeg" style="height:40rem;">
                        <h5 class="room-name">Ретро</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2100₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/retro" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/nefertiti.jpeg" style="height:40rem;">
                        <h5 class="room-name">Нефертити</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2100₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/nefertiti" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/burgua.jpeg" style="height:40rem;">
                        <h5 class="room-name">Буржуа</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2400₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/burgua" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/sakura.jpeg" style="height:40rem;">
                        <h5 class="room-name">Сакура</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2400₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/sakura" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/sparta.jpeg" style="height:40rem;">
                        <h5 class="room-name">Спарта</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2100₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/sparta" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
                <div class="grid-item featured-rooms">
                    <div class="image-wrap">
                        <img class="room-image" src="../static/img/dali.jpeg" style="height:40rem;">
                        <h5 class="room-name">Дали</h5>
                    </div>
                    <div class="room-info-wrap">
                        <span class="room-price"> от 2100₽
                            <span class="per-night"> за ночь</span>
                        </span>
                        <p class="paragraph"></p>
                        <a href="/dali" class="btn rooms-btn">Забронировать сейчас &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        <p id="anchor2"><a  name="review"></a></p>
    </section>
    <section id="clients">
        <div class="clients-heading">
            <h1>Отзывы</h1>
        </div>
        <div class="clients-box-container">
            <div class="clients-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="name-user">
                            <div class="right">
                                <p>23 августа 2021</p>
                            </div>
                            <strong> Наталья </strong>
                        </div>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Останавливались с мужем на 4 ночи в начале августа. Жили в номере "Камелот".
                        Номер большой, стильно оформлен, все, что указано, в наличии.
                        Большая двуспальная кровать с цельным матрасом.
                        Окно выходит на улицу Марата. С открытым окном шумно, но в номере есть кондиционер.
                        В холле есть кухня со всем необходимым. Очень удобное расположение.
                        Рядом ресторан "Пельмения", где можно вкусно поесть. И Макдональдс через дорогу.
                        В отеле тихо и уютно. Спасибо сотрудникам за отзывчивость! Обязательно приедем еще!</p>
                </div>
            </div>
            <div class="clients-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="name-user">
                            <div class="right">
                                <p>6 сентября 2021</p>
                            </div>
                            <strong> Светлана </strong>
                        </div>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Прекрасное место, удобное местоположение. Приветливый персонал ,
                        со вниманием и заботой относятся к гостям. Нам пошли навстречу не только по поводу
                        раздельных кроватей, но и заселили пораньше по нашей просьбе (номер утром был свободен).
                        Чистота и красота. Интерьеры оформлены с душой. В мини-отеле есть довольно большая кухня,
                        всевозможная посуда, чай, кофе. Спасибо, остались приятные впечатления от проживания
                    </p>
                </div>
            </div>
            <div class="clients-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="name-user">
                            <div class="right">
                                <p>10 августа 2021</p>
                            </div>
                            <strong>Евгений</strong>
                        </div>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Очень удобное расположение как от центра и основных достопримечательностей, так и от ж/д вокзала.
                        Всегда приветливый, добродушный и внимательный персонал. Всегда чисто в номерах. Складывается
                        впечатление, что ты не в отеле, а дома🙂</p>
                </div>
            </div>
            <div class="clients-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="name-user">
                            <div class="right">
                                <p>18 августа 2021</p>
                            </div>
                            <strong> Дмитрий </strong>
                        </div>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Очень вежливый персонал персонал, спасибо им огромное за приём (обе Елены), просто молодцы!
                        В отеле как дома, только с элементами духовности Питера. Расположение супер, все рядом есть.
                        Уборка отличная. Кофе и чай. Во многих отелях был в городе, но в этот обязательно вернусь и дам
                        рекомендации. Не зря высокий рейтинг. Ещё раз огромное спасибо!</p>
                </div>
            </div>
        </div>
        <p id="anchor3"><a name="contacts"></a></p>
    </section>
    <section>
        <div class="contacts">
            <div class="contact-heading">
                <h1>Контакты</h1>
            </div>
            <div class="map-address">
                <div id="map"> </div>
                <div class="address">
                    <p> 191025, Россия, Санкт-Петербург, ул. Марата, д. 10, этаж 3, помещение 6</p>
                    <br>
                    <p> +7 (911) 245-45-14
                        <br> <br>
                        +7 (812) 764-76-95
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://api-maps.yandex.ru/2.1/?apikey=cbc6c9a7-8d21-416c-a647-305b22b971d1&lang=ru_RU"></script>
<script src="{{url_for('static', filename='js/map.js')}}"></script>
{% endblock %}