{% extends "base.html" %}

{% block content %}
<section class="back-new">
    <div class="last">
        <div class="last-page">
            <h2> Спасибо, что воспользовались нашим сайтом </h2>
        </div>
        <div class="last-page">
            <h2> Подтверждение вашего бронирования должно прийти к вам на почту </h2>
        </div>
        <div class="last-page">
            <h3> Если этого не произошло, свяжитесь с нами по номеру +7&nbsp;(812)&nbsp;764&#8209;76&#8209;95 </h3>
        </div>
    </div>
</section>
{% endblock %}